html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after{
  box-sizing: inherit;
}

body{
  background-color: #1C1C1C;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

body, h1, p, ol, ul, input, textarea {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, select, textarea{
  border: none;
  outline: none;
}

::placeholder {
  color: rgba(0,0,0,0.2)
}

.container{
  display: block;
  max-width: 480px;
  margin: 0 auto;
  padding: 1rem;
}

.main{
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25)
}

.title{
  color: white;
  font-size: 64px;
  text-align: center;
}

